root {
  color: #16fafb;
}
* {
  color: skyblue;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

/* start navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background: linear-gradient(50deg, white 30%, #2529ff 70%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.logo a {
  display: block;
  width: 100px; /* Adjust based on your logo size */
}
.logo-img {
  max-width: 100%;
  height: 100%;
  display: block;
}
/* .navbar .navbar-nav a {
  color: silver;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
} */
.navbar .navbar-nav {
  display: block;
  text-align: left;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  right: -18%;
  background: linear-gradient(50deg, #0056b3 10%, #2529ff 90%);
  width: 25%;
  height: 100vh;
  z-index: 100;
  transition: 1.5s;
}
#hamburger {
  display: flex;
}
.hamburger.showx .x {
  opacity: 1;
  transform: rotate(90deg);
}
.hamburger.showx .bar {
  opacity: 0;
}
.x {
  opacity: 0;
}
.navbar-nav ul {
  display: block;
}
.navbar-nav li {
  list-style: none;
}
.navbar-nav a i {
  margin-left: -3rem;
  margin-right: 2rem;
  color: white;
}
.logoute .btn-logout {
  color: white;
  cursor: pointer;
  background-color: transparent;
  /* padding: 0.5rem; */
}

.navbar-nav a P,
.logoute {
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: white;
}
.navbar-nav a i:hover {
  color: skyblue;
}
.navbar .navbar-nav.active {
  right: 0;
  /* position: relative; */
  z-index: 101;
}
.navbar .navbar-nav a,
.dropdown p,
.logoute {
  color: white;
  display: block;
  /* margin: 1.5rem; */
  padding: 0.5rem;
  font-size: 0.7rem;
}
.navbar .navbar-nav a,
.dropdown,
.logoute {
  color: white;
  display: block;
  margin-left: 4.3rem;
  /* padding: 0.5rem; */
  font-size: 1rem;
}
.navbar .navbar-nav a:hover,
.logoute .btn-logout:hover {
  color: skyblue;
}
.navbar .navbar-nav a::after,
.logoute .btn-logout::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #16fafb;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after,
.logoute .btn-logout:hover::after {
  transform: scaleX(0.5);
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger .bar,
.x {
  inset: 1.6rem;
  margin-left: auto;
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 2rem;
  transition: opacity 0.1s, transform 0.4s;
}
.x {
  margin-right: 1px;
}
/* end navbar */
/* main start */
main {
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 6rem;
}
.customer {
  display: block;
  padding: 2rem;
  height: 83vh;
  border-radius: 0.5rem;
  background-color: white;
}
.customer span {
  color: #050e1b;
  font-size: 30px;
  font-weight: bold;
}
.customer p {
  color: #050e1b;
  font-size: 10px;
  margin-top: 0.3rem;
}
.customer .customer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.customer .customer-container .filter-section {
  position: relative;
  margin-top: 1rem;
}
.customer .customer-container .filter-section select {
  padding: 5px;
  color: #050e1b;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.customer .customer-container .filter-section select option {
  color: #050e1b;
}
.customer .customer-container #noProductsMessage {
  justify-content: center;
  align-items: center;
  color: #333;
}
.customer .tambah .buka {
  display: flex;
  background-color: #2529ff;
  color: white;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  justify-content: center;
  margin-top: 2rem;
  /* margin-right: 5rem; */
}
.customer .customer-container .search-box {
  border: solid 0.3rem black;
  display: inline-block;
  right: 1rem;
  position: relative;
  margin-top: 2.5rem;
  border-radius: 2.5rem;
}
.customer .customer-container .search-box input[type="text"] {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: black;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 150ms;
}
.customer .customer-container .search-box input[type="text"]:focus {
  outline: none;
}
.customer .customer-container .search-box input[type="text"]:focus,
.customer
  .customer-container
  .search-box
  input[type="text"]:not(:placeholder-shown) {
  width: 10rem;
  color: black;
  height: 0.5rem;
  background-color: transparent;
  margin-right: 1.5rem;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.customer
  .customer-container
  .search-box
  input[type="text"]:focus
  + button[type="reset"],
.customer
  .customer-container
  .search-box
  input[type="text"]:not(:placeholder-shown)
  + button[type="reset"] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}
.customer
  .customer-container
  .search-box
  input[type="text"]:focus
  + button[type="reset"]::after,
.customer
  .customer-container
  .search-box
  input[type="text"]:not(:placeholder-shown)
  + button[type="reset"]
  ::after {
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms,
    opacity 150ms ease-out 950ms;
}
.customer .customer-container .search-box button[type="reset"] {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0.2rem;
  transform: rotate(-45deg) translateY(1.2rem);
  transition: transform 150ms ease-out 150ms;
}
.customer .customer-container .search-box button[type="reset"]::before {
  content: "";
  background-color: black;
  width: 0.25rem;
  height: 1rem;
  border-radius: 10px;
  position: absolute;
}
.customer .customer-container .search-box button[type="reset"]::after {
  content: "";
  background-color: black;
  width: 0.25rem;
  height: 1rem;
  border-radius: 10px;
  position: absolute;
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}
.customer .tabel {
  margin-top: 1.5rem;
  display: inline-block;
  color: #050e1b;
}
.customer .tabel .container-tabel {
  display: inline-flex;
  background-color: #2529ff;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* .customer .tabel .container-tabel .no {
  width: 1.2rem;
}
.customer .tabel .container-tabel .id {
  width: 3.5rem;
} */
.customer .tabel .container-tabel p {
  font-size: 15px;
  margin-top: 0;
  width: 6rem;
  color: white;
  font-weight: bold;
}
.customer .data-pelanggan {
  margin-top: 0.5rem;
  display: inline-block;
  color: #050e1b;
  height: 14rem;
  overflow: hidden;
  overflow-y: scroll;
}
.customer .data-pelanggan::-webkit-scrollbar {
  display: none;
}
.customer .data-pelanggan .container-data-pelanggan {
  display: inline-flex;
  background-color: gray;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.customer .data-pelanggan .container-data-pelanggan p {
  font-size: 14px;
  margin-top: 0;
  color: white;
  overflow: hidden;
  overflow-x: scroll;
  width: 6rem;
}
.customer .data-pelanggan .container-data-pelanggan p::-webkit-scrollbar {
  display: none;
}
.data-customer .datapelanggan .head,
.data-customer .datapeKTP .head {
  color: #050e1b;
  border-bottom: #050e1b solid 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.data-customer .datapelanggan .detail-pelanggan,
.data-customer .dataKTP .detail-alamat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);
  gap: 1rem;
  justify-items: left;
}
.data-customer .datapelanggan .detail-pelanggan .item2,
.data-customer .dataKTP .detail-alamat .item4 {
  background: gray;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.data-customer .datapelanggan .detail-pelanggan .item1,
.data-customer .dataKTP .detail-alamat .item3 {
  color: gray;
  border-bottom: #050e1b solid 2px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.data-customer .dataKTP .itm1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(1fr); */
  gap: 1rem;
  justify-items: left;
}
.data-customer .dataKTP .itm1 .item1 {
  color: gray;
  border-bottom: #050e1b solid 2px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.data-customer .dataKTP .itm1 .item2 {
  background: gray;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.data-customer .dataKTP .itm1 .item2 input {
  width: 100%;
}
.produk .data-customer .dataKTP .itm1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1fr);
  gap: 1rem;
  justify-items: left;
}
.produk .data-customer .dataKTP .itm1 .item1 {
  color: gray;
  border-bottom: #050e1b solid 2px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.produk .data-customer .dataKTP .itm1 .item2 {
  background: gray;
  color: white;
  padding: 2px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.data-customer .dataKTP .head {
  color: #050e1b;
  border-bottom: #050e1b solid 1px;
  margin-bottom: 1rem;
}
.data-customer .dataKTP .data1 {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
}
.data-customer .dataKTP .data1 P {
  color: white;
  font-size: 10px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.data-customer .dataKTP .data2 {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
}
.data-customer .dataKTP .data2 P {
  color: white;
  font-size: 12px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.data-customer .dataKTP .data3 {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
}
.data-customer .dataKTP .data3 P {
  color: white;
  font-size: 10px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.data-customer .dataKTP .data4 {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
}
.data-customer .dataKTP .data4 P {
  color: white;
  font-size: 12px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.data-customer .dataKTP .data5 {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
}
.data-customer .dataKTP .data5 P {
  color: white;
  font-size: 10px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.data-customer button {
  display: flex;
  background-color: #2529ff;
  color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  justify-content: center;
  margin-top: 2rem;
}
.produk {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.produk.active {
  display: flex;
}
.produk .produk-kontener {
  position: relative;
  background-color: aliceblue;
  color: #050e1b;
  margin: 10% auto;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #050e1b;
  width: 50%;
  height: max-content;
  animation: produk 2s;
}
.produk .produk-kontener .close-x {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: gray;
}
.produk .konten-produk {
  display: flex;
  flex-wrap: nowrap;
}
.produk .konten-produk img {
  height: max-content;
  width: 50%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.produk .deskripsi-produk h2 {
  margin-bottom: 1rem;
  color: #050e1b;
  font-size: 1.5rem;
}
.produk .deskripsi-produk p {
  /* margin-left: 1.5rem; */
  margin-bottom: 1rem;
  color: #050e1b;
  font-size: 20px;
  font-weight: bold;
  margin-top: -1rem;
}
.produk .deskripsi-produk span {
  color: #050e1b;
  display: flex;
  font-size: 1rem;
}
.produk .data-customer .dataKTP .itm1 .itm2,
.produk .data-customer .datapelanggan .detail-pelanggan .itm2,
.produk .data-customer .dataKTP .detail-alamat .itm2 {
  background: gray;
  color: white;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.produk .data-customer .dataKTP .itm1 .itm2 input,
.produk .data-customer .datapelanggan .detail-pelanggan .itm2 input,
.produk .data-customer .dataKTP .detail-alamat .itm2 input {
  color: #050e1b;
}
@keyframes produk {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*  end main */
/* konten 3 end */
/* footer start */
/* footer {
  background-color: #0056b3;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  margin: 1rem;
  color: gray;
}
footer .social a:hover {
  color: #050e1b;
}
footer .links {
  margin-bottom: 1.5rem;
}
footer .links a {
  color: gray;
  padding: 4rem 1rem;
}
footer .links a:hover {
  color: #050e1b;
}
footer .credit a {
  color: gray;
  font-size: 10px;
} */
/* footer end */ /* responsiv start */
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #16fafb;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 70vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .p p {
    color: black;
    font-size: 15px;
    display: flex;
    margin-top: -4.5rem;
    margin-left: 42.5%;
    margin-bottom: 5rem;
  }
  .more {
    margin-left: 42%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    color: #0056b3;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 40vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .cctv .slider {
    font-size: 1.5rem;
    height: 25px;
  }
  .cctv .content p {
    margin-top: 5rem;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 {
    margin-top: -7.5rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .ragam-konten3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin: 2rem;
  }
  .grid-konten3 {
    font-size: 0.8rem;
  }
  .p p {
    margin-top: -4.5rem;
    margin-left: 37%;
  }
  .line-with-text {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
  .more {
    margin-left: 35%;
    background-color: #050e1b;
  }
  @keyframes anim {
    0% {
      margin-top: -10px;
    }

    16% {
      margin-top: -60px;
    }

    33% {
      margin-top: -115px;
    }

    50% {
      margin-top: -170px;
    }

    66% {
      margin-top: -115px;
    }
    82% {
      margin-top: -60px;
    }
    100% {
      margin-top: -10px;
    }
  }
}
/* responsiv end */
/* animasi start */
/* animasi end */
