root {
  color: #16fafb;
}
* {
  color: skyblue;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

/* start navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background: linear-gradient(50deg, white 30%, #2529ff 70%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.logo a {
  display: block;
  width: 100px; /* Adjust based on your logo size */
}
.logo-img {
  max-width: 100%;
  height: 100%;
  display: block;
}
/* .navbar .navbar-nav a {
  color: silver;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
} */
.navbar .navbar-nav {
  display: block;
  text-align: left;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  right: -18%;
  background: linear-gradient(50deg, #0056b3 10%, #2529ff 90%);
  width: 25%;
  height: 100vh;
  z-index: 100;
  transition: 1.5s;
}
#hamburger {
  display: flex;
}
.hamburger.showx .x {
  opacity: 1;
  transform: rotate(90deg);
}
.hamburger.showx .bar {
  opacity: 0;
}
.x {
  opacity: 0;
}
.navbar-nav ul {
  display: block;
}
.navbar-nav li {
  list-style: none;
}
.navbar-nav a i {
  margin-left: -3rem;
  margin-right: 2rem;
  color: white;
}
.logoute .btn-logout {
  color: white;
  cursor: pointer;
  background-color: transparent;
  /* padding: 0.5rem; */
}

.navbar-nav a P,
.logoute {
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: white;
}
.navbar-nav a i:hover {
  color: skyblue;
}
.navbar .navbar-nav.active {
  right: 0;
  /* position: relative; */
  z-index: 101;
}
.navbar .navbar-nav a,
.dropdown p,
.logoute {
  color: white;
  display: block;
  /* margin: 1.5rem; */
  padding: 0.5rem;
  font-size: 0.7rem;
}
.navbar .navbar-nav a,
.dropdown,
.logoute {
  color: white;
  display: block;
  margin-left: 4rem;
  /* padding: 0.5rem; */
  font-size: 1rem;
}
.navbar .navbar-nav a:hover,
.logoute .btn-logout:hover {
  color: skyblue;
}
.navbar .navbar-nav a::after,
.logoute .btn-logout::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #16fafb;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after,
.logoute .btn-logout:hover::after {
  transform: scaleX(0.5);
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger .bar,
.x {
  inset: 1.6rem;
  margin-left: auto;
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 2rem;
  transition: opacity 0.1s, transform 0.4s;
}
.x {
  margin-right: 1px;
}
/* end navbar */
/* main start */
main {
  margin-top: 5.8rem;
  margin-left: 1rem;
  margin-right: 6rem;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  border-radius: 1rem;
}
.dashboard .conten {
  padding: 1rem;
  font-size: 15px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  border: #050e1b;
  border-radius: 1rem;
  margin: 0.5rem;
  color: #050e1b;
}
.dashboard .conten .total-pelanggan {
  font-size: 12px;
  margin-top: 1rem;
  color: #050e1b;
}
.dashboard .conten .total-tunggakan {
  font-size: 12px;
  margin-top: 1rem;
  color: #050e1b;
}
.dashboard .conten .total-aktivasi {
  font-size: 12px;
  margin-top: 1rem;
  color: #050e1b;
}
.dashboard .conten2 {
  padding: 1rem;
  font-size: 13px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  border: #050e1b;
  border-radius: 1rem;
  margin: 0.5rem;
  color: #050e1b;
}
.dashboard .conten2 .total-pelanggan-baru {
  font-size: 12px;
  margin-top: 1rem;
  color: #050e1b;
}
.dashboard .conten3 img {
  /* width: 110%; */
  margin-top: 0.5rem;
  color: #050e1b;
}
.dashboard .conten3 {
  padding: 1rem;
  font-size: 15px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  border: #050e1b;
  border-radius: 1rem;
  margin: 0.5rem;
  color: #050e1b;
  width: 54.5rem;
  height: max-content;
}
.dashboard .conten3 P {
  font-size: 10px;
  margin-top: 0.5rem;
  color: #050e1b;
}

/*  end main */
/* konten 3 end */
/* footer start */
/* footer {
  background-color: #0056b3;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  margin: 1rem;
  color: gray;
}
footer .social a:hover {
  color: #050e1b;
}
footer .links {
  margin-bottom: 1.5rem;
}
footer .links a {
  color: gray;
  padding: 4rem 1rem;
}
footer .links a:hover {
  color: #050e1b;
}
footer .credit a {
  color: gray;
  font-size: 10px;
} */
/* footer end */
/* responsiv start */
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #16fafb;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 70vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .p p {
    color: black;
    font-size: 15px;
    display: flex;
    margin-top: -4.5rem;
    margin-left: 42.5%;
    margin-bottom: 5rem;
  }
  .more {
    margin-left: 42%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    color: #0056b3;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 40vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .cctv .slider {
    font-size: 1.5rem;
    height: 25px;
  }
  .cctv .content p {
    margin-top: 5rem;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 {
    margin-top: -7.5rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .ragam-konten3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin: 2rem;
  }
  .grid-konten3 {
    font-size: 0.8rem;
  }
  .p p {
    margin-top: -4.5rem;
    margin-left: 37%;
  }
  .line-with-text {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
  .more {
    margin-left: 35%;
    background-color: #050e1b;
  }
  @keyframes anim {
    0% {
      margin-top: -10px;
    }

    16% {
      margin-top: -60px;
    }

    33% {
      margin-top: -115px;
    }

    50% {
      margin-top: -170px;
    }

    66% {
      margin-top: -115px;
    }
    82% {
      margin-top: -60px;
    }
    100% {
      margin-top: -10px;
    }
  }
}
/* responsiv end */
/* animasi start */
/* animasi end */
