* {
  color: skyblue;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.login-page {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: grey;
  z-index: 100;
}
.login {
  position: relative;
  width: 380px;
  height: 527px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.borderliner::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 390px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: spin 6s linear infinite;
}
.borderliner::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: spin 6s linear infinite;
  animation-delay: 3s;
}
.borderline::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, transparent, red, red, red);
  z-index: 1;
  transform-origin: bottom right;
  animation: spin 6s linear infinite;
  animation-delay: 4.5s;
}
.borderline::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, transparent, red, red, red);
  z-index: 1;
  transform-origin: bottom right;
  animation: spin 6s linear infinite;
  animation-delay: 1.5s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login .container-login {
  position: relative;
  background-color: #222;
  padding: 50px 40px;
  margin: 3px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.login .container-login h1 {
  color: white;
  font-weight: 1000;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: -2rem;
}
.login .container-login .inputbox {
  position: relative;
  width: 300px;
  margin-top: 16px;
}
.login .container-login .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: grey;
  font-size: 1em;
  transition: 0.5s;
  z-index: 10;
}
.login .container-login .inputbox .icon {
  position: absolute;
  right: 1.4rem;
  top: 2.4rem;
  cursor: pointer;
  pointer-events: none;
  color: grey;
  font-size: 1.2em;
  transition: 0.5s;
  z-index: 8;
}
.login .container-login .inputbox .toggle-password {
  position: absolute;
  padding: 0.6rem;
  background: transparent;
  right: 0.3rem;
  top: 1.3rem;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 1.2em;
  transition: 0.5s;
  z-index: 50;
}
.login .container-login .inputbox span {
  position: absolute;
  left: 0;
  padding: 23px 10px 10px;
  pointer-events: none;
  color: grey;
  font-size: 1em;
  transition: 0.5s;
}
.login .container-login .inputbox .fa-user {
  height: max-content;
  width: min-content;
  background-color: transparent;
  border: none;
}

.login .container-login .inputbox .toggle-password .fa-eye {
  height: max-content;
  width: min-content;
  background-color: transparent;
  border: none;
  display: none;
}
.login .container-login .inputbox .toggle-password .fa-eye-slash {
  height: max-content;
  width: min-content;
  z-index: 50;
  background-color: transparent;
  border: none;
  display: none;
}
.login .container-login .inputbox input:valid ~ .toggle-password .fa-eye,
.login .container-login .inputbox input:focus ~ .toggle-password .fa-eye {
  display: block;
}
.login .container-login .inputbox input:valid ~ span,
.login .container-login .inputbox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.login .container-login .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.login .container-login .inputbox input:valid ~ i,
.login .container-login .inputbox input:focus ~ i {
  height: 35px;
}
.login .container-login .inputbox input:valid ~ .fa-user,
.login .container-login .inputbox input:focus ~ .fa-user {
  color: black;
}
.login .container-login .btn-login {
  border: none;
  outline: none;
  padding: 9px 25px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.5em;
  border-radius: 4px;
  color: #1c1c1c;
  font-weight: bold;
  width: 100%;
  margin-top: 25px;
}
.login .container-login a {
  border: none;
  display: flex;
  justify-content: center;
  outline: none;
  align-items: center;
  padding: 9px 25px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.5em;
  border-radius: 4px;
  color: #1c1c1c;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}
.login .container-login a p {
  color: #1c1c1c;
}
.card {
  position: absolute;
  width: 400px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  background: white;
  z-index: 101;
}
.success {
  border-top: 5px solid green;
  display: none;
}
.error {
  border-top: 5px solid #dc3545;
  display: none;
}
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.success .icon {
  /* top: -4rem; */
  font-size: 4rem;
  right: 9rem;
  color: green;
  position: absolute;
  background: white;
  border-radius: 50%;
  border-right: 5px solid green;
  border-left: 5px solid green;
  border-top: 5px solid green;
  padding: 0.5rem 2rem 1rem;
}
.error .icon {
  color: #dc3545;
  top: 4rem;
  font-size: 4rem;
  right: 10rem;
  position: absolute;
  background: white;
  border-radius: 50%;
  border-right: 5px solid #dc3545;
  border-left: 5px solid #dc3545;
  border-top: 5px solid #dc3545;
  padding: 0.5rem 2rem 1rem;
}
.title {
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-top: 60px;
}
.message {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.message p {
  margin-top: 1rem;
}
.success .button-success {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: green;
}
.error .button-error {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: #dc3545;
}
